<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <!-- 为了在微信分享里显示缩略图 -->
    <!-- 用手机Safari分享的话，一下图片能够显示为缩略图 -->
<!--<div style="display: none">
      <img src="{{ site.baseurl }}/assets/perceptron.jpg" />
    </div> -->
<!-- <div style=" overflow:hidden; width:0px; height:0; margin:0 auto; position:absolute; top:-800px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Mongols-map.png/450px-Mongols-map.png"></div> -->

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
